//colors
$main-bg-color: hsl(0, 0%, 100%);
$second-bg-color: hsl(0, 0%, 95%);
$main-color: hsl(210, 11%, 15%);
$second-color: hsl(200, 1%, 45%);

$primary-color: hsl(248, 65%, 52%);
$success-color: hsl(102, 40%, 49%);
$warning-color: hsl(32, 87%, 55%);
$danger-color: hsl(1, 80%, 61%);

$font-sm: 0.875rem;
