.navbar {
  display: flex;
  flex-direction: row;
  background: $main-bg-color;
  color: $main-color;
  right: 0;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}
.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.nav-link {
  float: left;
  text-align: center;
  padding: 21px 10px;

  position: relative;
  font-size: 17px;
  color: $second-color;

  &:hover {
    cursor: pointer;
  }
}
.navbar-nav i {
  font-size: 1.4rem;
}
.logo {
  height: 60px;
  padding: 10px;
}

.navbar-search {
  position: relative;
  margin: auto;
  width: 50%;
}
.navbar-search input {
  width: 100%;
  border: none;
  background: $second-bg-color;
  padding: 12px 50px 12px 30px;
  color: $main-color;
  border-radius: 20px;
}
.navbar-search i {
  position: absolute;
  top: 50%;
  right: 20px;
  cursor: pointer;
  transform: translateY(-50%);
  color: $second-color;
}
.navbar-badge {
  font-size: 0.6rem;
  padding: 2px 4px;
  font-weight: 300px;
  position: absolute;
  right: 5px;
  top: 9px;
  color: #fff;
  background-color: $danger-color;
  border-radius: 5px;
}
.dropdown {
  position: relative;

  &:hover {
    cursor: pointer;
  }
}
.dropdown-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  background: $main-bg-color;

  max-width: 300px;
  padding: unset;
  border-radius: 10px;
  z-index: 1px;
  position: absolute;
  right: 20%;
  top: 90%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
}
.notification-menu {
  min-width: 380px;
}
.dropdown-menu-content {
  max-height: 500px;
  overflow-y: auto;
}
.dropdown-menu-item {
  width: 100%;
}
.dropdown-menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: $main-color;

  &:hover {
    cursor: pointer;
    background: $second-bg-color;
  }
}
.dropdown-menu-link span {
  font-size: 15px;
  width: 298px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-menu-link span > span {
  font-size: 10px;
}
.dropdown-menu-link div {
  min-width: 82px;
  height: 50px;
  position: relative;
}
.dropdown-menu-link i {
  font-size: 1.25rem;
  color: $second-color;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-menu-header {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid $second-bg-color;
}
.dropdown-menu-footer {
  padding: 10px;
  text-align: center;
  border-top: 1px solid $second-bg-color;
}

.avt {
  padding: 11px;
}

.avt img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}
